/* ------------------------------
          IMPORT TYPO
 ---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');


/* ------------------------------
            MINIMAL CSS
 ---------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------
            CONTAINER
---------------------------------*/

.container-1200 {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}


/* ------------------------------
            BACKGROUND
---------------------------------*/
.background-hero {
    background-image: url(asset/Background\ Hero.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}